<!-- <script type="text/javascript">
  $(document).ready(function() {
    $("#distance-info-div").hide();
  })
</script> -->

<div class="container">
  <div id="title-div">
    <h1 id="travel-page-title"><%=current_user.first_name%>'s Travel Page</h1>
    <!-- <div id="distance-info-div">
      <div class="col-sm-12 col-lg-6" id="origin-loc"></div>
      <div class="col-sm-12 col-lg-6" id="destination-loc"></div>
    </div> -->
  </div>
  <div class="row">

    <div id="map-div" class="col-sm-12 col-lg-6">

      <div id="interactive-btns-search">
        <form action="/location" id="add-form" method="post">
            <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
            <input id="latitude" type="hidden" name="latitude" value="">
            <input id="longitude" type="hidden" name="longitude" value="">
            <input id="loc_name" type="hidden" name="loc_name" value="">
            <input id="address" type="hidden" name="address" value="">
            <input id="loc_data" type="hidden" name="loc_data" value="">
            <input class="btn btn-logout btn-lg userpage-btn" type="submit" value="Add to your list">
        </form>
        <button class="btn btn-logout btn-lg userpage-btn" id="nearest-loc-btn" type="button" data-toggle="modal" data-target="#myModal">Nearest Location</button>
        <% if flash[:error] %>
          <p id="add-error"><%=flash[:error]%></p>
        <%end%>

      </div>
      <div id="googleMap">
          <input id="pac-input" class="controls" type="text" placeholder="Search Box">
        <div id="map"></div>

        <script src="app/assets/javascripts/mainpage.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?libraries=places&callback=initAutocomplete"
             async defer></script>
      </div>
    </div>


    <div class="col-sm-12 col-lg-6">
    <h2 id="interest-title">Your Places of Interest:</h2>

      <div id="travel-list" class="col-sm-12 col-lg-6">
        <table>
          <thead>
            <td class="thead-td"><p id="thead-locations">Locations</p></td>
            <td class="thead-td"></td>
          </thead>
          <% @locations.each do |loc| %>
          <tbody>
            <td class="tbody-td">
              <form class="location-list-buttons" action="/location/<%=loc.id%>" method="post">
                <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
                <input class="places-link" target="_blank" type="submit" value="<%=loc.name%>">
                <input class="places-name" type="hidden" value="<%=loc.name%>">
                <input class="places-lat" type="hidden" value="<%=loc.latitude%>">
                <input class="places-lon" type="hidden" value="<%=loc.longitude%>">
              </form>
            </td>
            <td class="tbody-td" id="list-btns">
              <form class="location-list-buttons" action="/location/<%=loc.id%>" method="post">
                <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
                <input type="hidden" name="_method" value="patch">
                <input class="location-options-visited" type="submit" value="Visited">
              </form>
              <form class="location-list-buttons" action="/location/<%=loc.id%>" method="post">
                <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
                <input type="hidden" name="_method" value="delete">
                <input class="location-options-remove" type="submit" value="Remove">
              </form>
            </td>
          <%end%>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div id="modal-div" class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Your Nearest Location Is: <p id="near-loc-name"></p></h4>
      </div>
      <div id="distance-info-div" class="modal-body">
        <p class="modal-pts">Go from: <div id="origin-loc"></div></p>
        <p class="modal-pts">To: <div id="destination-loc"></div></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-logout btn-lg" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
