<!DOCTYPE html>
<html>
<head>
  <title>Choose To Go</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="http://fonts.googleapis.com/css?family=Berkshire+Swash" rel="stylesheet" type="text/css">

</head>
<body>
<% if current_user %>
  <form style="display: inline-block;" action='/sessions' method='post'>
    <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
    <input type='hidden' name='_method' value='delete'>
    <input style="display: inline-block;" class="btn btn-logout btn-lg" type='submit' value='Log Out'>
  </form>
  <a style="display: inline-block;" class="btn btn-light btn-lg" href="/users/<%=current_user.id%>">Your Travel History</a>
<% end %>
<%= yield %>
</body>
</html>
